.city {
  fill: rgb(195, 191, 191);
  cursor: pointer;
  width: 700px;
  height: 550px;
  stroke-width: 1px;
  stroke: rgb(249, 249, 249);

  
}
.Akhmeta:hover {
  fill: rgb(166, 227, 126);
  transition: 1s;
}
.Telavi:hover {
  fill: burlywood;
}


@media (max-width: 459px) {
  .city{
    width: 300px;
    height: 200px;
  }
}