.wrapper {

  display: grid;
  grid-template-areas:
    "h h h"
    "n g g"
    "f f f";

  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 7fr;
}

.header {
  grid-area: h;
  text-align: center;
}

.navbar {
  grid-area: n;

}

.footer {
  grid-area: f;
  text-align: center;
  margin-top: 120px;
}

.geoMap {
  grid-area: g;

  position: relative;
  width: 900px;
}

.mainSVG {
  position: relative;
  stroke-width: 1px;
  stroke: rgb(249, 249, 249);
}

.svgMap {
  padding: 40px;
}

.flag {
  background-image: url('https://images.unsplash.com/photo-1539206684673-315a341d220a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  
} 


@media (max-width: 459px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .geoMap {
    width: 270px;
    height: 150px;
    position: relative;
    padding: 30px;
  }

  .svgMap {
    padding: 0px;
  }

  .navbar {
    font-size: 10px;
    width: 100px;

  }

  .header {
    font-size: 7px;
  }

  .footer {
    font-size: 8px;

  }
  .flag {
    background-image: url('https://images.unsplash.com/photo-1644270581576-236a3c3caf33?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    
  } 
}