.wrapper {

  display: grid;
  grid-template-areas:
    "h h h"
    "n g g"
    "f f f";

  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 7fr;
}

.header {
  grid-area: h;
  text-align: center;
}

.navbar {
  grid-area: n;

}

.footer {
  grid-area: f;
  text-align: center;
  margin-top: 90px;
}

.geoMap {
  grid-area: g;

  position: relative;
  width: 900px;
}

.mainSVG {
  position: relative;
  stroke-width: 1px;
  stroke: rgb(249, 249, 249);
}

.svgMap {
  padding: 40px;
}


@media (max-width: 459px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .geoMap {
    width: 270px;
    height: 150px;
    position: relative;
    padding: 30px;
  }

  .svgMap {
    padding: 0px;
  }

  .navbar {
    font-size: 10px;
    width: 100px;

  }

  .header {
    font-size: 7px;
  }

  .footer {
    font-size: 8px;

  }
}