.nav {
    padding-left: 20px;
    width: max-content;
    margin-top: 100px;
}

.nav p {
    margin-top: 15px;
    transition-property: color;
    transition-duration: .3s;

}

p:hover {
    cursor: text;

}

.navicon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    background-color: rgba(240, 248, 255, 0.737);
    margin: 5px;
    padding: 0 10px;
    border-radius: 10px;
}

img {
    padding-right: 10px;
}

@media (max-width: 459px) {
    .nav {
        margin-top: 20px;
        padding: center;
    }

    .navicon {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        background-color: rgba(240, 248, 255, 0.737);
        margin: 5px;
        padding: 0 5px;
        border-radius: 10px;
    }
}